p {
  font-family: "Times New Roman", Times, serif;
}

.hero {
  background: #f9f7fe;
  text-align: center;
  padding: 120px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}

.hero h1 {
  font-family: "Playfair Display", serif;
  font-size: 96px;
  font-weight: bold;
}

.hero h2 {
  font-family: "Times New Roman", Times, serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 2;
  margin-bottom: 20px;
}

.hero button {
  border-radius: 4px;
  background: #6c63ff;
  border: #6c63ff 1px solid;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.content-title {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 20px;
}

.project-list h2 {
  font-size: 64px;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}
.project-list p {
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
  color: #272142;
  opacity: 0.7;
}

.project-list button {
  border-radius: 4px;
  border: #6c63ff 1px solid;
  background: white;
  color: #6c63ff;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.about {
  padding: 100px 20px;
}

.about h1 {
  font-size: 64px;
  line-height: 80px;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 30px;
}

.about h2 {
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  margin-bottom: 20px;
}

.about p {
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
  color: #272142;
  line-height: 30px;
  margin-bottom: 30px;
}

.about button {
  border-radius: 4px;
  background: #6c63ff;
  border: #6c63ff 1px solid;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.about img {
  border-radius: 10px;
  margin-top: 20px;
}
.work-title {
  font-size: 90px;
  line-height: 80px;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  padding: 120px 10px;
  margin-bottom: 5px;
}

.picture-display h2 {
  font-size: 24px;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  display: block;
  text-align: center;
  margin-top: 20px;
}

.picture-display p {
  text-align: center;
  color: #6c757d;
  margin-bottom: 50px;
}

.contact {
  padding: 160px 20px;
}
.contact h1 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 64px;
  line-height: 80px;
  margin-bottom: 30px;
}

.contact h2 {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 30px;
  line-height: 1.5;
  margin-bottom: 10px;
  margin-top: 20px;
}

.contact a {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  line-height: 30px;
  text-decoration: underline;
  cursor: pointer;
  margin-bottom: 20px;
}

nav {
  padding: 20px;
}

.logo {
  max-height: 40px;
}
nav ul {
  margin: 0;
  padding: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
  margin-left: 15px;
}

nav a {
  color: #272142;
  opacity: 70%;
  text-decoration: none;
}
nav a:hover {
  color: #6c63ff;
  text-decoration: none;
  cursor: pointer;
}

nav li.active a {
  color: #6c63ff;
}

footer {
  margin-bottom: 30px;
}

.email-link a {
  text-decoration: none;
  text-align: center;
  color: black;
  font-size: 24px;
}
.email-link a:hover {
  color: #6c63ff;
  text-decoration: none;
}

.socials img {
  margin-top: 20px;
  max-height: 40px;
  padding: 10px;
}

footer .contact-box {
  background: #f9f7fe;
  padding: 30px 120px;
  margin-top: 120px;
  margin-bottom: 5px;
  border-radius: 10px;
}

.contact-box h3 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 48px;
}
.contact-box p {
  font-family: "Times New Roman", Times, serif;
  opacity: 80%;
  margin: 0;
}

.contact-box button {
  border-radius: 4px;
  background: #6c63ff;
  border: #6c63ff 1px solid;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

@media (max-width: 900px) {
  .hero h1 {
    font-size: 60px;
  }
  .project-list h2 {
    font-size: 40px;
  }
  .container {
    padding: 0;
    text-align: center;
  }
  .about h1 {
    font-size: 20px;
  }
  .work-title {
    font-size: 20px;
    text-align: center;
  }
  .contact {
    text-align: center;
  }
  .contact h1 {
    font-size: 44px;
  }
  .contact-box h3 {
    font-size: 26px;
  }
  .contact-box button {
    font-size: 12px;
    line-height: 14px;
    padding: 5px 15px;
  }
  footer .contact-box {
    padding: 30px;
  }
}
